/agent/ @InkedCat @JyVers @kilian-nagel
/proto/agent/ @InkedCat @JyVers @kilian-nagel

/api/ @c-r-lewis @beliott @nadouulh
/proto/api/ @c-r-lewis @beliott @nadouulh

/barectl/ @GoetzHugo @Izoret
/proto/barectl/ @GoetzHugo @Izoret

/cni/ @charleybignon @obitw @laflut3 @Gmateo81
/proto/cni/ @charleybignon @obitw @laflut3 @Gmateo81

/scheduler/ @DimMarr @RichardDorian @GhadiSaab @Catsuri33
/proto/scheduler/ @DimMarr @RichardDorian @GhadiSaab @Catsuri33
